body {
    margin: 0;
    background-color: black;
}

h1 {
  text-align: center;
  font-size: 45px;
  color: teal;
}

.menu-container {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 20%;
  }
  .hex-wrapper {
    display: inline-block;
    -webkit-transform: perspective(900px) rotateX(30deg);
    -moz-transform: perspective(900px) rotateX(30deg);
    -ms-transform: perspective(900px) rotateX(30deg);
    -o-transform: perspective(900px) rotateX(30deg);
    transform: perspective(900px) rotateX(30deg);
  }
  .hex-row {
    clear: left;
  }
  .shift {
      margin-left: 96px;
  }
  .hexagon {
    float: left;
    position: relative;
    margin: 28px 1px;
    width: 190px;
    height: 110px;
    background-color: teal;
    background-position: center center;
    z-index: 1;
    /* Text styling */
    line-height: 110px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 6px;
    color: white;
    /*color: rgba(0, 0, 0, .5);*/
    cursor: pointer;
    transition: color 500ms ease, text-shadow 500ms ease, background-color 500ms ease, -webkit-transform 1s ease-in-out;
  }
  .hexagon:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow;
    background-color: orangered;
    font-size: 2.2em;
  }
  .hexagon .face1,
  .hexagon .face2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    z-index: -1;
    /* Keeps borders smooth in webkit */
    backface-visibility: hidden;
  }
  .hexagon .face1:before,
  .hexagon .face2:before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    background: inherit;
  }
  .hexagon .face1 { transform: rotate(60deg); }
  .hexagon .face1:before {
    left: 0;
    transform-origin: left top;
    transform: rotate(-60deg) translate(-110px, 0);
  }
  .hexagon .face2 { transform: rotate(-60deg); }
  .hexagon .face2:before {
    right: 0;
    transform-origin: right top;
    transform: rotate(60deg) translate(110px, 0);
  }

  #hex-desert {
    background-color: orangered;
    background-image: url("../images/orange.jpg");
    background-position: center;
    background-size: cover;
  }

  #hex-sea {
    background-color: teal;
    background-image: url("../images/ocean.jpg");
    background-position: center;
    background-size: cover;
  }

  #hex-grass {
    background-color: green;
    background-image: url("../images/grass.jpg");
    background-position: center;
    background-size: cover;
  }